/* IMPORTED FONT (MONTSERRAT) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* BODY STYLES */
body {
    font-family: Montserrat, sans-serif;
    background-color: #005e52;
    margin: 0;
    padding: 20px;
}

/* HEADER STYLES */
h1 {
    text-align: center;
    color: #f4ddc1;
    font-size: 400%;
    text-shadow: 1px 1px 1px rgba(0, 45, 61, 0.7);
}

/* QUIZ CONTAINER STYLES */
.quiz-container {
    max-width: 600px;
    margin: auto;
    background: #f4ddc1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 45, 61, 0.7);
    color: #005e52;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* OPTION BUTTON STYLES */
.option {
    background-color: #008c7e;
    color: #f4ddc1;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 2px rgba(0, 45, 61, 0.7);
}

/* BUTTON HOVER FX */
.option:hover {
    background-color: #006f63;
}

/* CORRECT AND INCORRECT ANSWER STYLES */
.correct {
    background-color: #77ad45 !important;
}
.incorrect {
    background-color: #793a36 !important;
}

/* NAVIGATION BUTTON STYLES */
#next-btn, #restart-btn {
    background-color: #004a40;
    color: #f4ddc1;
    border: none;
    padding: 10px 20px;
    margin: 15px 5px 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 2px rgba(0, 45, 61, 0.7);
}

/* NAVIGATION BUTTON HOVER FX */
#next-btn:hover, #restart-btn:hover {
    background-color: #002824;
}